# Archivos de Gradle
.gradle/
build/
**/build/

# Configuración local
local.properties

# Archivos de IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws

# Archivos de logs y temporales
*.log
*.tmp

# Cache y outputs
captures/
.externalNativeBuild/
.cxx/
outputs/
.navigation/
generated/
bin/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuración de entorno
.env
